<div class="container-sm">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && editForm.controls['name'].errors }" />
            <div *ngIf="submitted && editForm.controls['name'].errors" class="invalid-feedback">
                <div *ngIf="editForm.controls['name'].errors?.['required']">name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && editForm.controls['description'].errors }" />
            <div *ngIf="submitted && editForm.controls['description'].errors" class="invalid-feedback">
                <div *ngIf="editForm.controls['description'].errors?.['required']">description is required</div>
                
            </div>
        </div>
    
        <div class="form-group">
            <label>Category</label>
            <input type="text" formControlName="category" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && editForm.controls['category'].errors }" />
            <div *ngIf="submitted && editForm.controls['category'].errors" class="invalid-feedback">
                <div *ngIf="editForm.controls['category'].errors?.['required']">category is required</div>
                
            </div>
        </div>
    
    
        <div class="form-group">
            <label>Quantity</label>
            <input type="number" formControlName="quantity" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && editForm.controls['quantity'].errors }" />
            <div *ngIf="submitted && editForm.controls['quantity'].errors" class="invalid-feedback">
                <div *ngIf="editForm.controls['quantity'].errors?.['required']">quantity is required</div>
            </div>
        </div>
    
        <div class="form-group">
            <label>Price</label>
            <input type="number" formControlName="price" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && editForm.controls['price'].errors }" />
            <div *ngIf="submitted && editForm.controls['price'].errors" class="invalid-feedback">
                <div *ngIf="editForm.controls['price'].errors?.['required']">price is required</div>
            </div>
        </div>
        <div class="form-group modal-footer">
            <button type="submit" class="btn btn-primary">Edit</button>
    
        </div>
    </form>
    </div>